.form {
  margin-top: 30px;
}
.textField {
  padding: 20px;
  width: 50%;
  margin-top: 30px !important;
}
.btn {
  margin-top: 2rem !important;
  background-color: chocolate !important;
  margin-right: 20px !important;
}
